#mydiv2 {
  position: fixed;
  top: 0;
  right: 0;
  width: 100px;
  height: 100px;
  margin-top: 30px;
  margin-right: 100px;
}

#botao_voucher {
  position: fixed;
  top: 0;
  right: 0;  
  margin-top: 80px;
  margin-right: 130px;
}
  
  #link_pacotes {
  position: fixed;
  top: 0;
  left: 0;  
  margin-top: 50px;
  margin-left: 500px;
}
   
  #link_index {
  position: fixed;
  top: 0;
  left: 0;  
  margin-top: 50px;
  margin-left: 500px;  
  
  }
  
#dialog {
  position: fixed;
  top: 0;
  right: 0;  
  margin-top: 100px;
  margin-right: 40px;
}

#mydiv5 {
  position: fixed;
  top: 0;
  right: 0;
  width: 100px;
  height: 100px;
  margin-top: 30px;
  margin-right: 100px;
}

.apartamentos {
            display: none; /* Inicialmente, ambas as divs estão invisíveis */

}
