body {
  background-image: url('caminho/para/o/seu/arquivo/bck.png');
  background-size: cover; /* Isso ajustará o tamanho da imagem para cobrir todo o corpo */
  background-position: center; /* Isso centralizará a imagem no corpo */
  margin: 0; /* Isso removerá qualquer margem padrão do corpo */
}

#mydiv2 {
  position: fixed;
  top: 0;
  right: 0;
  width: 100px;
  height: 100px;
  margin-top: 100px;
  margin-right: 100px;
}

#openDialogBtn {
  position: fixed;
  top: 0;
  right: 0;  
  margin-top: 130px;
  margin-right: 100px;
}
  
#dialog {
  position: fixed;
  top: 0;
  right: 0;  
  margin-top: 150px;
  margin-right: 100px;
}
  
