body {
  background-image: url('bck.png');
  background-size: 1350px 600px; /* Define o tamanho desejado */
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  height: 100vh; /* Isso define a altura do corpo para a altura da viewport */
  display: flex;
  align-items: center;
  justify-content: center;
}

#mydiv1 {
  position: fixed;
  top: 0;
  right: 0;
  width: 200px;
  height: 200px;
  margin-top: 170px;
  margin-right: 1140px;
}

#mydiv2 {
  position: fixed;
  top: 0;
  right: 0;
  width: 100px;
  height: 100px;
  margin-top: 30px;
  margin-right: 100px;
}

#mydiv3 {
  top: 0;
  right: 0;
  margin-top: 270px;
  margin-right: 70px;
}

#openDialogBtn {
  position: fixed;
  top: 0;
  right: 0;  
  margin-top: 30px;
  margin-right: 20px;
}
  
#dialog {
  position: fixed;
  top: 0;
  right: 0;  
  margin-top: 100px;
  margin-right: 40px;
}

#mydiv4 {
  position: fixed;
  top: 0;
  right: 0;
  width: 200px;
  height: 200px;
  margin-top: 170px;
  margin-right: 1140px;
}

#mydiv5 {
  position: fixed;
  top: 0;
  right: 0;
  width: 100px;
  height: 100px;
  margin-top: 30px;
  margin-right: 100px;
}

#mydiv6 {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 500px;
  height: 1000px;
  margin-top: 130px;
  margin-left: 240px;
  
}
